footer {
  background: black;
  max-width: 100vw;
  margin-top: 100px;
}

footer > p {
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}

a {
  color: #1258a7;
  font-weight: bold;
}
