header {
  padding: 15px 40px;
  background: black;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

img {
  width: 120px;
}

ul > a {
  margin-right: 20px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

ul > a:hover {
  color: black;
  background: white;
}

.active {
  background-color: white;
  color: black;
}
